model_config_list: {
    config {
        name: 'wood',
        base_path: 'D:\ML\CNN\woodAI\storage\mobilenet_model',
        model_platform: "tensorflow",
        model_version_policy {
          specific {
             versions: 1
          }
        }
      },
    config: {
        name: "model2",
        base_path: "D:\ML\CNN\woodAI\storage\mobilenet_model_1",
        model_platform: "tensorflow"
    }
}